<div id="form">
  <form action="/auth/signup" method="POST">
         <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
    </div>

    <img src="/images/enter.png" alt="" />
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  <p>© Copyright by @jeannelefevre - @leogenuit 2022 </p>
