<div class="container">
  <a href="/"><img class="arrow" src="images/arrow.png" alt="" /></a>
  <div id="form">

    <form action="/edit" method="post">
      <input
        id="username"
        type="text"
        name="username"
        value="{{currentUser.username}}"
      />
      <button id="username">Update</button>
    </form>

    <form action="/edit/picture" method="post" enctype="multipart/form-data">
      <input id="picture" type="file" name="picture" id="picture" />
      <button>Valider</button>
    </form>
  </div>

  <ul>
    {{#each files}}
      <li>
        <h2>{{this.name}}</h2>
        <img src="{{this.URL}}" alt="a cool graphic" style="width: 128px" />
      </li>
    {{/each}}
  </ul>

  <a class="logout" class="arrow" href="/auth/login">Logout</a>

  <a
    href="/{{currentUser._id}}/delete"
    onclick="return confirm('⚠️ Are you sure to delete your account this action is irrevesible ⚠️')"
  >Delete</a>
</div>