<div class="sticky">
  <div class="flex header">
    <a href="/edit/picture"><img
        class="user-picture"
        src="{{currentUser.picture}}"
        alt=""
      /></a>
    <p id="username">{{currentUser.username}}</p>
    <a href="/edit/username">edit</a>
    <a class="logout" class="arrow" href="/auth/login">Logout</a>
  </div>
</div>


<div class="allsroom connected">
</div>
<div class="disconnected">

<div>
  <form action="/users/search" method="GET">

    <input type="search" name="username" placeholder="Search ..." id="search" />
    <button>Search</button>

  </form>
</div>
<div class="allsroom">


</div>

<div class="dedicatedRoom hidden">
  <div class="messages"></div>
  <form
    id="form"
    action=""
    data-id="{{currentUser._id}}"
    data-username="{{currentUser.username}}"
  >
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
</div>

<template id="message-template">
  <div class="message-container">
    <img src="" alt="" />
    <div class="message-content">
      <p></p>
      <small></small>
    </div>
  </div>
</template>