<h1>edit picture</h1>

<form method="post" action="/profile/update" enctype="multipart/form-data">

  <input type="file" name="picture" id="picture" />
  <button>Valider</button>
</form>

<hr />

<ul>
  {{#each files}}
    <li>
      <h2>{{this.name}}</h2>
      <img src="{{this.URL}}" alt="a cool graphic" style="width: 128px" />
    </li>
  {{/each}}
</ul>