<div class="sticky">
  <div class="flex header">
    <a href="/profile/update"><img
        class="user-picture"
        src="{{currentUser.picture}}"
        alt=""
      /></a>
    <p id="username">{{currentUser.username}}</p>
    <a class="logout" class="arrow" href="/auth/login">Logout</a>
  </div>
</div>


<div class="allsroom">
 <form id="form" action="" data-id="{{currentUser._id}}" data-username="{{currentUser.username}}">
      <input id="input" autocomplete="off" /><button>Send</button>
  </form>
</div>
  


<div class="dedicatedRoom">
  <ul class="messages"></ul>
</div>
