<div class="sticky">
  <div class="flex header">
    <a href="/profile/update"><img
        class="user-picture"
        src="{{currentUser.picture}}"
        alt=""
      /></a>
    <p id="username">{{currentUser.username}}</p>
    <a class="logout" class="arrow" href="/auth/login">Logout</a>
  </div>
</div>
<div class="allsroom">
  <div class="room flex">
    <div class="img-card">
      <img src="images/user.png" alt="" />
    </div>
    <p class="few-words">Lorem, ipsum dolor sit amet consectetur adipisicing
      elit.
    </p>
  </div>
  <div class="room flex">
    <div class="img-card">
      <img src="images/user.png" alt="" />
    </div>
    <p class="few-words">Lorem, ipsum dolor sit amet consectetur adipisicing
      elit.
    </p>
  </div>
  <div class="room flex">
    <div class="contour-img">
      <img src="images/user.png" alt="" />
    </div>
    <p class="few-words">Lorem, ipsum dolor sit amet consectetur adipisicing
      elit.
    </p>
  </div>
  <div class="room flex">
    <div class="contour-img">
      <img src="images/user.png" alt="" />
    </div>
    <p class="few-words">Lorem, ipsum dolor sit amet consectetur adipisicing
      elit.
    </p>
  </div>

</div>