<div class="flex container">
  <h1>profil of {{currentUser.username}}</h1>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Gull_portrait_ca_usa.jpg/600px-Gull_portrait_ca_usa.jpg"
    alt=""
  />
  <div>
    <h2>All rooms</h2>
    <div class="room"><p>room1</p></div>
    <div class="room"><p>room2</p></div>
    <div class="room"><p>room3</p></div>
    <div class="room"><p>room4</p></div>
    <div class="room"><p>room5</p></div>
    <div class="room"><p>room6</p></div>
    <div class="room"><p>room7</p></div>
    <div class="room"><p>room8</p></div>
  </div>
</div>