
    <h1>profil of {{currentUser.username}}</h1>
    <a class="deconexion" href="/auth/logout">Deco</a>


    <ul id="messages"></ul>
    <form id="form" action="" data-id="{{currentUser._id}}">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>


    <div class="connected-users">
      <h2>Connected users</h2>
      <ul class="connected-list">
        
      </ul>
    </div>