<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut" href="/images/favicon.ico" type="image/x-icon" />
    <title>{{appTitle}}</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"
      integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    {{! <script src="/js/sticky.js"></script> }}
    {{#each script}}
      <script type="module" src="/js/{{this}}.js"></script>
    {{/each}}
    {{#if pagecss}}
      <link rel="stylesheet" href="/stylesheets/{{pagecss}}" />
    {{/if}}
  </head>

  <body>

    {{{body}}}

  </body>

</html>