<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <script src="/socket.io/socket.io.js"></script>
    {{!-- <script src="/js/sticky.js"></script> --}}
    {{#each script}}
      <script type="module" src="/js/{{this}}.js"></script>
    {{/each}}
    <link rel="stylesheet" href="/stylesheets/{{pagecss}}" />
  </head>

  <body>

    {{{body}}}

  </body>

</html>