* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  padding-top: 300px;
}
.header {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(207, 207, 207);
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.header .user-picture {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 5%;
}
.header .user-picture:hover {
  height: 52px;
  width: 52px;
  padding: 10px;
  border-radius: 5%;
}
#username::first-letter {
  text-transform: uppercase;
}
.container {
  width: 100%;
}
.flex {
  display: flex;
}

.allsroom {
  background: rgba(255, 255, 255, 0.6);
  height: 100%;
}
.room {
  border: 1px solid rgb(207, 207, 207, 0.6);
  margin: 5px 0;
  height: 70px;
  align-items: center;
  padding: 5px;
}
img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px black;
}
.few-words {
  margin-left: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
}
.logout {
  text-decoration: none;
  color: red;
  padding: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 6px black;
  font-size: 12px;
}
.img-card {
}
