* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  padding-top: 120px;
}
.header {
  background: rgb(255, 255, 255);
  padding: 20px;
  /* border-radius: 10px; */
  border: 1px solid rgb(207, 207, 207);
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.header .user-picture {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 5%;
}
.header .user-picture:hover {
  height: 52px;
  width: 52px;
  padding: 10px;
  border-radius: 5%;
}
#username::first-letter {
  text-transform: uppercase;
}
.container {
  width: 100%;
}
.flex {
  display: flex;
}

.allsroom {
  background: rgba(255, 255, 255, 0.6);
  /* height: 100%; */
  min-height: 350px;
  margin-top: 150px;
}
.room {
  border: 1px solid rgb(207, 207, 207, 0.6);
  margin: 5px 0;
  height: 70px;
  align-items: center;
  padding: 5px;
}
img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px black;
}
.few-words {
  margin-left: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
}
.logout {
  text-decoration: none;
  color: red;
  padding: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 6px black;
  font-size: 12px;
}
.img-card {
}

/*
*/

.hidden {
  display: none !important;
}

h2 { 
  padding: 15px;
}

#form {
  border-top: 1px solid rgb(212, 212, 212);
  background: white;
  width: 100%;
  height: 15%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  position: fixed;
}

#form input {
  height: 25px;
  width: 100%
}

.dedicatedRoom {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
  padding: 15px;
  background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.back {
  background: none;
  border: none;
  float: right;
  text-align: right;
  width: 100%;
  position: fixed;
  right: 15px;
}

.grey {
  color: grey;
}

.messages {
  flex-grow: 1;
  /* background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; */
}

.message-container {
  padding: 5px;
  margin-bottom: 10px;
}

.message-content {
  margin-top: 10px;
}

small {
  font-size: 11px;
  font-style: italic;
}