* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  padding-top: 120px;
}
.header {
  background: rgb(255, 255, 255);
  padding: 20px;
  /* border-radius: 10px; */
  border: 1px solid rgb(207, 207, 207);
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.header .user-picture {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 5%;
}
.header .user-picture:hover {
  height: 52px;
  width: 52px;
  padding: 10px;
  border-radius: 5%;
}
#username::first-letter {
  text-transform: uppercase;
}
.container {
  width: 100%;
}
.flex {
  display: flex;
}

.allsroom {
  background: rgba(255, 255, 255, 0.6);
  /* height: 100%; */
  min-height: 350px;

}
.room {
  border: 1px solid rgb(207, 207, 207, 0.6);
  margin: 5px 0;
  height: 70px;
  align-items: center;
  padding: 5px;
}
img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px black;
}
.few-words {
  margin-left: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
}
.logout {
  text-decoration: none;
  color: red;
  padding: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 6px black;
  font-size: 12px;
}
.img-card {
}

/*
*/

.hidden {
  display: none !important;
}

h2 {
  padding: 15px;
}

#form {
  border-top: 1px solid rgb(212, 212, 212);
  background: white;
  width: 100%;
  height: 15%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  position: fixed;
}


#form textarea {
  width: 100%;
  position: relative;
}

#form button {
  /* width: 60px;
  height: 32px; */
  position: absolute;
  text-align: right;
  right: 60px;
  background-color: white;
  border: none;

#form button img {
  width: 26px;
  height: 26px;
  border-radius: inherit;
}



.dedicatedRoom {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 160px); */
  padding: 15px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.dedicatedRoom img {
  box-shadow: none;
}

.back {
  background: none;
  border: none;
  /* float: right; */
  text-align: left;
  width: 100%;
  position: fixed;
}

.grey {
  color: grey;
}

.messages {
  flex-grow: 1;
  overflow: scroll;
  height: 580px;
  margin-top: 50px;
  /* background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; */
}

.message-container {
  padding: 5px;
  margin-bottom: 10px;
}

.message-content {
  margin-top: 10px;
}

small {
  font-size: 11px;
  font-style: italic;
}

/*
*/

.friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.friends-list {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends-list img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px black;
}

.friends-list p {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.friends form {
  width: 100%;
  position: relative;
}

.friends input {
  width: 100%;
  height: 30px;
}

.friends button {
  height: 30px;
  position: absolute;
  background: white;
  right: 0px;
  width: 30px;
  border: black;
  border-width: 1px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.add-friend button {
  width: 100%;
  height: 100%;
  position: unset;
   background: none;
   border: none;

}
