<header>
  <a href="/">back to profile</a>
  <img class="user-picture" src="images/add-user.png" alt="" />
  <p>username</p>
</header>

<footer>
  <div class="footer-container">
    <input type="area" placeholder="Message" />
  </div>
</footer>